html {
   background-color: blue;
}

#title {
	text-align: center;
	font-family: "Comic Sans MS";
}

#rickroll {
	display:block;
	margin: 0 auto;
}

#lyrics {
	text-align: center;
	font-size: 24px;
	font-family: verdana;
}

